<?php
$CONFIG = array (
  'memcache.local' => '\OC\Memcache\Redis',
  'redis' => array(
    'host' => '{{ redis_host }}',
    'port' => {{ redis_port }},
    ),
  'memcache.locking' => '\OC\Memcache\Redis',
); 
